/* App.css or your preferred CSS file */

.container {
    position: relative;
    text-align: center;
    padding: 20px;
    height: 10vh;
    background-color: black;
  }
  
  .container input {
    flex: 1;
    padding: 10px;
  }
  
  .container button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: white;
    cursor: pointer;
  }
  